node_modules
.DS_Store
.tmp
npm-debug.log*
google-generated-credentials.json
.env
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json
.idea
nodelinter.config.json
.turbo
*.tsbuildinfo
*.swp
CHANGELOG-*.md
*.mdx
build-storybook.log
*.junit.xml
junit.xml
test-results.json
*.0x
